@import "tailwindcss";
html,
body {
  height: 100%;
  width: 100%;
}
.wash {
  height: fit-content;
  width: fit-content;
  padding: 30px;
  background: conic-gradient(
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red,
    violet
  );
  color: rgb(255, 255, 255);
  font-size: 2rem;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.Male {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(0, 255, 255, 1) 100%
  );
}
.Female {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 255, 1) 0%,
    rgba(255, 192, 203, 1) 100%
  );
}
.Other {
  background: conic-gradient(
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red,
    violet
  );
}
